<%- include ("partials/header") %>
<h1>Register to Yelp Camp!</h1>

<form action="register" method="POST">
    <input required type="text" name="username" placeholder="Username">
    <input required type="password" name="password" placeholder="Password">
    <button>Sign Up!</button>
</form>

<%- include ("partials/footer") %>