<%- include ("../partials/header") %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center;"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Create a New Campground</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <input required class="form-control" type="text" name="name" placeholder="Campground Name">
                </div>
                <div class="form-group">
                    <input required class="form-control" type="number" step="any" name="price" placeholder="Price in USD">
                </div>
                <div class="form-group">
                    <input required class="form-control" type="text" name="image" placeholder="Image URL">
                </div> 
                <div class="form-group">
                    <textarea required class="form-control" name="description" placeholder="Convince them that your campground is the best!!!" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>  
</div>
<%- include ("../partials/footer") %>
