.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.delete-form {
    display: inline;
}
body {
    padding-top: 7rem;
    position: relative;
}
#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}
.well {
    margin-bottom: 3rem;
}